before_script:
  - npm prune
  - npm install
script:
  - npm run test:single
  - npm run check-coverage
after_success:
  - npm run report-coverage
  - npm run semantic-release

language: node_js
node_js:
  - "4.1"
sudo: false
cache:
  directories:
    - node_modules
services:
  - redis-server
